/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 4rem;
  margin-top: 2rem;
}
header h1 {
  font-family: Redressed, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 8rem;
  background-color: #65617D;
  color: #edeff5;
  text-align: center;
  border-radius: 1rem;
  padding: 2rem;
  margin: 0 auto;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.253);
}
header p {
  font-family: Poppins, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 3rem;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  line-height: 1.3;
  padding: 2rem;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  font-weight: bolder;
}
.container {
  display: flex;
}
.main {
  width: 50%;
}
.red {
  background-color: #FDCEC6;
  display: flex;
  flex-direction: column;
  align-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.red h2 {
  text-transform: uppercase;
  max-width: 30rem;
  font-size: 3rem;
  font-family: Roboto;
  color: #65617D;
  margin: 1rem;
  margin-top: 3rem;
}
.red p {
  font-size: 1.8rem;
  font-family: Poppins, Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 1rem;
}
.white {
  background-color: #fcfcfc;
}
.white .loginButton {
  cursor: pointer;
  border: 2px solid #000;
  background-color: #D1D9EC;
  width: 20rem;
  border-radius: 4rem;
  margin: 5rem auto 5rem auto;
}
.white .loginButton:hover {
  background-color: #65617D;
}
.white .loginButton p {
  color: #65617D;
  font-size: 4rem;
  text-align: center;
  padding: 2rem;
  font-family: Roboto Slab, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.white .loginButton p:hover {
  color: #D1D9EC;
}
.white .learnMore {
  border-radius: 5px;
  width: 15rem;
  margin: 0 auto;
  cursor: pointer;
  font-size: 3rem;
  font-family: redressed;
  text-align: center;
  color: #65617D;
  font-weight: bold;
}
.white .learnMore:hover {
  color: #f54646;
}
#chefImg {
  margin: 4rem auto 0 auto;
  width: 70%;
}
nav {
  width: 100%;
  background-color: #65617D;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
nav a {
  font-family: Poppins, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2rem;
  color: #fcfcfc;
  text-decoration: none;
}
