h1 {
  font-size: 5rem;
  background-color: @dark;
  color: rgb(237, 239, 245);
  text-align: center;
  border-radius: 5rem;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.253);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 4rem;
  p {
    font-size: 3rem;
    max-width: 30rem;
    margin: 0 auto;
    text-align: center;
  }
}

.container {
  display: flex;
}

.main {
  width: 50%;
}

.red {
  background-color: @mainRed;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.white {
  background-color: @mainWhite;
}

#chefImg {
  margin: 20rem auto 1rem auto;
  width: 70%;
}

